body
  margin: 0
  padding: 0
.canvas-box
  height: 500px
  position: relative
  width: 100%
  margin: 0
  padding: 0
  .draw-area
    border-bottom: 1px solid #000
    box-sizing: border-box
    display: block

label
  padding: 0.5em

select, input[type="color" i], input[type="text"], button
  background: transparent
  border: 1px solid #000;
  outline: none

button
  border-width: 2px
  font-weight: bold

select, input[type="text"], button
  padding: 0.2em

.input-group
  font-family: Arial, Helvetica, sans-serif
  padding: 1em
  min-width: 180px

.toolbar
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: center

.inputfile
  width: 0.1px
  height: 0.1px
  opacity: 0
  overflow: hidden
  position: absolute
  z-index: -1

.btn-inputfile
  font-size: 0.8em
  font-weight: bold
  color: #000
  border: 2px solid #000
  cursor: pointer
